@import "tailwindcss";
@import "primeicons/primeicons.css";
/* Full height layout */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    overflow: hidden;
}
.pi {
    font-family: "PrimeIcons" !important;
    font-size: 1rem;
}
